*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    background: chartreuse;
}

a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin: 10px;
    border-radius: 22px;
}

a:hover{
    color: red;
}
.Login button{
    background-color: transparent;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 22px;
    cursor: pointer;
    margin-left: 15px;
}

.maincontent{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    border: 2px dotted pink;
    padding: 15px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

td{
    border: 2px solid black;
    padding: 10px;
}